<div class="row">
    <div class="col-6">
        <div class="mb-3 row">
            <label for="num1" class="col-sm-2 col-from-label">Numero 1</label>
            <div class="col-sm-10">
                <input name="num1" [(ngModel)]="num1"  type="text" class="from-control">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="num2" class="col-sm-2 col-from-label">Repetir</label>
            <div class="col-sm-10">
                <input name="num2" [(ngModel)]="num2"  type="text" class="from-control">
            </div>
        </div>
            <div class="mb-3 row">
                <button (click)="calcular()" class="btn btn-primary">Calcular</button>
            </div>
        </div>
        <div class="col-6">
            <h2>Resultados: {{final}} {{operacion}}</h2>
        </div>
    </div>